# pip install packaging opencv-python scikit-image
faiss_cpu>=1.7.1
numpy>=1.21.2
Pillow>=9.0.1
scikit_learn>=1.0.2
# torch==1.9.0
# torch==1.11.0
torchvision>=0.9.2
tqdm>=4.62.3
utm>=0.7.0
packaging
opencv-python==4.7.0.72
scikit-image

